.form {
    background: rgb(216, 205, 216);
    width: 250px;
    height: 430px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
}

.form__input:focus {
    background: none;
}

.error {
    width: 200px;
    height: 15px;
    color: red;
    font-size: 12px;
}